<div class="container-fluid">
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">
      <img class="logo-solutis" src="img/solutis.png" alt="logo da solutis" width="50" height="50">
    </a>
    <div class="container">
      <ul class="nav justify-content-end">
        <li class="nav-item" >
          <a class="nav-link" aria-current="page" href="/alunos">Alunos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/professores" >Professores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cursos" >Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/disciplinas" >Disciplinas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/laboratorio" >Laboratório</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/campus" >Campus</a>
        </li>
      </ul>
      </nav>
    </div>
</div>