<div class="cadastro">
    <h2>Reserve o Laboratório</h2>
    <form action="/laboratorio" method="POST">
    <div class="form-floating mb-3">
      <input class="form-control" id="laboratorio/sala" name="sala">
      <label for="floatingInput">Insira a Sala:</label>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control" id="laboratorio/professor" name="professor">
      <label for="floatingInput">Professor reponsável:</label>
    </div>
    <div class="form-floating mb-3">
        <input class="form-control" id="laboratorio/turno" name="turno">
        <label for="floatingInput">Turno:</label>
      </div>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="submit">Cadastrar</button>
    </div>
  </form>
  </div>