<button
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#cadastroModal"
>
  Adicionar novo
</button>

<div
  class="modal fade"
  id="cadastroModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Registro de professores
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Fechar"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/professores" method="POST">
          <div class="form-floating mb-3">
            <input class="form-control" id="professor/nome" name="nome" />
            <label for="floatingInput">Insira o nome:</label>
          </div>

          <div class="form-group form-floating mb-3">
            <select class="form-control" id="tituloSelect" name="titulo">
              <option>Graduação</option>
              <option>Mestrado</option>
              <option>Doutorado</option>
            </select>
            <label for="tituloSelect">Título</label>
          </div>

          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="professor/departamento"
              name="departamento"
            />
            <label for="floatingInput">Insira o departamento:</label>
          </div>

          <div class="form-floating mb-3">
            <input
              class="form-control"
              id="professor/especialidade"
              name="especialidade"
            />
            <label for="floatingInput">Insira o especialidade:</label>
          </div>

          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Cadastrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
