<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Disciplinas</title>
  </head>
  <body>
    <h1 class="titulo">Disciplinas</h1>
    <div class="container campus">
    <div class="row">
        <div class="col-sm">
            <section>
                <%- include('./partials/disciplinas/cadastro') %>
            </section>
        </div>
        <div class="col-sm">
            <section>
              <%- include('./partials/disciplinas/tabela', {disciplinas: disciplinas} ) %>
            </section>
        </div>
    </div>
  </body>
</html>

