<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <img class="banner" src="img/solutishome.jpg" alt="">
    <h1 class="titulo-home">Solutis Academy</h1>
</body>
</html>