<div class="cadastro">
  <h2>Registre o Campus</h2>
  <form action="/campus" method="POST">
    <div class="form-floating mb-3">
      <input class="form-control" id="campus/nome" name="nome" />
      <label for="floatingInput">Insira o nome:</label>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control" id="campus/bairro" name="bairro" />
      <label for="floatingInput">Insira o bairro:</label>
    </div>
    <div class="form-floating mb-3">
      <input class="form-control" id="campus/cidade" name="cidade" />
      <label for="floatingInput">Insira o cidade:</label>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="submit">Cadastrar</button>
    </div>
  </form>
</div>
