<div class="tabela">
  <table class="table">
    <thead>
      <h2>Campus registrados</h2>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>
          <a href="#">
            <img src="img/trash.svg" alt="lixo" width="20" height="20" />
          </a>
        </td>
        <td><%- include('./modal') %></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>
          <a href="#">
            <img src="img/trash.svg" alt="lixo" width="20" height="20" />
          </a>
        </td>
        <td>
            <%- include('./modal')  %> 
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>
          <a href="#">
            <img src="img/trash.svg" alt="lixo" width="20" height="20" />
          </a>
        </td>
        <td>
            <%- include('./modal')  %> 
        </td>
      </tr>
    </tbody>
  </table>
</div>
