<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cadastroModal">
    Cadastrar novo aluno
</button>

<div class="modal fade" id="cadastroModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Cadastro de Aluno
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <form action="/alunos" method="POST">
                    <div class="row">
                        <div class="form-floating mb-3 col-md-8">
                            <input class="form-control" type="text" id="nome" name="nome">
                            <label for="nome">Nome do Aluno: </label>
                        </div>
                        <div class="form-floating mb-3 col-md-4">
                            <input class="form-control" type="number" id="matricula" name="matricula">
                            <label for="matricula">Número de Matrícula: </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-floating mb-3 col-md-6">
                            <input class="form-control" type="text" name="curso" id="curso">
                            <label for="curso">Curso: </label>
                        </div>
                        <div class="mb-3 col-md-6 d-flex">
                            <label for="dataDeNascimento" class="col-form-label">Data de Nascimento: </label>
                            <input class="form-control mb-3" type="date" id="dataDeNascimento" name="dataDeNascimento">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-floating col-4 mb-3">
                            <input class="form-control" type="number" step="0.1" id="semestreDeIngresso"
                                name="semestreDeIngresso">
                            <label for="semestreDeIngresso">Semestre de Ingresso: </label>
                        </div>
                        <div class="form-floating  col-4 mb-3">
                            <input class="form-control" type="text" id="CPF" name="CPF">
                            <label for="CPF">CPF: </label>
                        </div>
                        <div class="form-floating  col-4 mb-3">
                            <input class="form-control" type="text" id="RG" name="RG">
                            <label for="RG">RG: </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-floating col-4 mb-3">
                            <input class="form-control" type="text" id="tituloEleitor" name="tituloEleitor">
                            <label for="tituloEleitor">Título de Eleitor: </label>
                        </div>
                        <div class="form-floating col-4 mb-3">
                            <select class="form-select" id="estadoCivil" name="estadoCivil">
                                <option value="Solteiro">Solteiro</option>
                                <option value="Casado">Casado</option>
                                <option value="Divorciado">Divorciado</option>
                                <option value="Viúvo">Viúvo</option>
                            </select>
                            <label for="estadoCivil">Estado Civil: </label>
                        </div>
                        <div class="form-floating col-4 mb-3">
                            <input class="form-control" type="text" id="UF" name="UF">
                            <label for="UF">UF: </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-floating col-6 mb-3">
                            <input class="form-control" type="text" id="cidade" name="cidade">
                            <label for="cidade">Cidade: </label>
                        </div>
                        <div class="form-floating col-6 mb-3">
                            <input class="form-control" type="text" id="endereco" name="endereco">
                            <label for="endereco">Endereço: </label>
                        </div>
                    </div>

                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>