<div class="cadastro">
  <h2>Registre o Curso</h2>
  <form action="/cursos" method="POST">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="curso/nome" name='nome'>
    <label for="floatingInput">Insira o nome do curso:</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="curso/departamento" name='departamento'>
    <label for="floatingInput">Insira o departamento:</label>
  </div>
  <div class="form-floating mb-3">
    <input type="number" class="form-control" id="curso/cargaHoraria" name='cargaHoraria'>
    <label for="floatingInput">Insira a carga horária:</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="curso/localidade" name='localidade'>
    <label for="floatingInput">Insira a localidade do campus:</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="curso/area" name='area'>
    <label for="floatingInput">Insira a área de atuação:</label>
  </div>
  <div class="d-grid gap-2">
    <button class="btn btn-primary" type="submit">Cadastrar</button>
  </div>
</form>
</div>