<div class="cadastro">
    <h2>Registre a Disciplina</h2>
    <form action="/disciplinas" method="POST">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="nome">
      <label for="floatingInput">Nome:</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="cargaHoraria">
      <label for="floatingInput">Carga Horária:</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="professor">
      <label for="floatingInput">Professor:</label>
    </div>
    <div class="form-floating mb-3">
      <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com" name="limiteAlunos">
      <label for="floatingInput">Limite de alunos:</label>
    </div>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="submit">Cadastrar</button>
    </div>
  </form>
  </div>