<!-- Button trigger modal -->
<a href="#disciplinasModal">
  <img
    src="img/edit.svg"
    alt="lixo"
    width="20"
    height="20"
    data-bs-toggle="modal"
    data-bs-target="#disciplinasModal-<%= disciplina._id %>"
  />
</a>
  
  <!-- Modal -->
  <div class="modal fade" id="disciplinasModal-<%=disciplina._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><h3>Altere os dados necessários</h3></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/disciplinas/update/<%=disciplina._id%>" method="POST">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="nome">
              <label for="floatingInput">Nome:</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="cargaHoraria">
              <label for="floatingInput">Carga Horária:</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" name="professor">
              <label for="floatingInput">Professor:</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com" name="limiteAlunos">
              <label for="floatingInput">Limite de alunos:</label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>