<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My CRUD in NodeJS</title>
</head>
<body>
    <h2>Registrar Disciplina<h2>
    <form action="/teste/disciplinas" method="POST">
        <input type="text" placeholder="Nome da Discplina" name="nome">
        <input type="text" placeholder="Carga Horária" name="cargaHoraria">
        <input type="text" placeholder="Professor" name="professor">
        <input type="number" placeholder="Limite de Alunos" name="limiteAlunos">
        <button type="submit">Submit</button>
    </form> 
    <br />
</body>
</html>